<a href="https://colab.research.google.com/github/amansyayf/computational-mathematics_2022/blob/main/9.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math 
import pandas as pd
import numpy as np
from sklearn.decomposition import pca


def count_exp(x):
    sum = np.float32(1.0)
    term = np.float32(1.0)
    i = 1
    while sum!=sum+term:
        term = np.float32(term*x/i)
        sum = np.float32(sum+term)
        i += 1
    return sum

In [ ]:
def better_count_exp(x):
    if x >= 0:
        sum = count_exp(x)
    else:
        sum = 1/count_exp(-x)
    return sum

In [ ]:
array1 = np.array([1, 5, 10, 15, 20 , 25, -1, -5, -10, -15, -20, -25])
array2 = np.exp(array1)
array3 = list(map(count_exp, array1))
array4 = list(map(better_count_exp, array1))
df = pd.DataFrame({'exp(x)':array2, 'count_exp(x)':array3, 'better_count_exp(x)':array4})
df.index = array1
df

           exp(x)  count_exp(x)  better_count_exp(x)
 1   2.718282e+00  2.718282e+00         2.718282e+00
 5   1.484132e+02  1.484132e+02         1.484132e+02
 10  2.202647e+04  2.202647e+04         2.202647e+04
 15  3.269017e+06  3.269018e+06         3.269018e+06
 20  4.851652e+08  4.851653e+08         4.851653e+08
 25  7.200490e+10  7.200491e+10         7.200491e+10
-1   3.678794e-01  3.678794e-01         3.678794e-01
-5   6.737947e-03  6.737461e-03         6.737946e-03
-10  4.539993e-05 -7.265709e-05         4.539992e-05
-15  3.059023e-07  9.356809e-03         3.059023e-07
-20  2.061154e-09  7.566841e-01         2.061153e-09
-25  1.388794e-11  1.248796e+02         1.388794e-11